.SubCard2 {
    display: flex;
    flex-direction: column;
    background-color: #8676FF;
    border-radius: 8px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3), 5px 5px 10px rgba(0, 0, 0, 0.3), 0px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    left: 20px;
   position: relative;
  }
  
  .SubCard2 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #4313dd;
  }
  
  .SubCard2 div:last-child {
    border-bottom: none;
  }
  
  .SubCard2 div p:first-child {
    font-weight: bold;
    color: azure;
  }
  
  .SubCard2 div p:last-child {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: azure;
  }
  
  .SubCard2 div p:last-child span {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 14px;
    color: #38F261;

  }
  
  .SubCard2 div p:last-child span .my-icon-up {
    font-size: 18px;
    margin-left: 5px;
    color: #38F261;
  }
  
