.sider__container h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  .SubCard__container {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    height: 82vh;
    width: 255px;
  }
  
  .subcard1__container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .SubCard2__container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .SubCard3__container{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
  }
  .ant-layout-sider-light{
    flex: 0 0 224px;
    max-width: 200px;
    min-width: 301px;
  }
