.subcard__container{
  background-color: white;
   padding-left: 10px;
   box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3), 5px 5px 10px rgba(0, 0, 0, 0.3), 0px 5px 10px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   left: 20px;
   position: relative;
}
  .Card__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -51px;
  }
  
  .Card__wrapper p:first-child {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
 
  }
  
  .Card__wrapper p:last-child {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .Card__wrapper p:last-child span.Arrow {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 14px;
    color: #00c48c;
  }
  
  .Card__wrapper p:last-child span.Arrow svg {
    font-size: 18px;
    margin-left: 5px;
    color: #00c48c;
  }
  .ant-layout-sider-light{
    flex: 0 0 224px;
    max-width: 200px;
    min-width: 301px;
  }
