@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.logo{
    position: relative;
    font-size: 20.5076px;
    font-weight: 400;
    line-height: 22px;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
}


.SearchBar{
    position: relative;
    justify-content: center;
    align-items: center;
    float: right;
    margin: 16px 0 16px 24px;
}


