.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vh;
    border-radius: 3px solid white;
  }
  
  .button {

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.44px;
  background-color: #fff;
  color: #333;
  border: 6px solid white;
  border-radius: 5px;
  padding: 2px 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  }
  .button__container {
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 25px;
    padding: 0.1rem 2rem;
  }
  .button--active {
    background:#3247E5;
    border-radius: 25px;

    color: white;
  }
  .txt {
    font-size: 10px;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 5px;
    position: absolute;
top: -45px;
  }